body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 2em;
  background-color: #eafeea;
}

.text-container{
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 20px;
}

.container{
  background: #000;
  width: 132px;
  height: 380px;
  box-shadow: 0 0 5px rgba(0,0,2, .9);
  margin-left: auto;
  margin-right: auto;
  padding: 3px;
}

.spacer{
  padding: 2px;
}

.light{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  opacity: 0.3;
  padding: 10px;
  border: 2px solid white;
  margin: auto;
  box-shadow: 0 0 5px rgba(255,255,255, 1);
}

#red{
    background-color: red;
}

#yellow{
    background-color: #e6e600;
}

#green{
  background-color: #27e833;
}

.light-visible {
  opacity: 1;
}
